html, body{
	margin: 0;
	padding: 0;
background-color: #c6ddddb2;
}
h1 
{
    font-size: x-large;
    font-size: 50px ;
    text-align-last: center;
    text-decoration-color: rgb(39, 44, 65);
}
.p1
{
    font-family: monospace ,sans-serif;
    font-size: 25px;
    color: hsl(221, 88%, 20%);
margin-left: 15px;
}
div{
font-size: 25px;
margin-left:50px;
color: rgb(73, 93, 134);
}


